.startscreentext {
    font-size: 10vw;
}

.wrapper:hover .startscreentext {
    background: repeating-linear-gradient(
            135deg,
            #134E5E 0%,
            #71B280 50%,
            #134E5E 100%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animation-gradient-start 2.5s linear infinite;
    cursor: pointer;
}

.wrapper {

}
.wrapper span:nth-child(1),
.wrapper span:nth-child(2),
.wrapper span:nth-child(3),
.wrapper span:nth-child(4),
.wrapper span:nth-child(5),
.wrapper span:nth-child(6) {
    position: absolute;
    top: 250px;
    left: 276px;
}
.wrapper span:nth-child(1) {
    clip-path: polygon(-10% 0, 10% 0%,60% 100%, -10% 100%);
    animation: crack1 0.2s linear forwards;
}
.wrapper span:nth-child(2) {
    clip-path: polygon(10% 0, 40% 0, 80% 100%, 60% 100%);
}


.wrapper span:nth-child(3) {
    clip-path: polygon(40% 0, 110% 0, 110% 100%, 80% 100%);
    animation: crack2 0.2s linear forwards;
}
.cracked span:nth-child(1) {
    animation: crack1 0.5s forwards;
}

.cracked span:nth-child(2) {
    animation: crack1 0.5s forwards;
}

.cracked span:nth-child(3) {
    animation: crack1 0.5s forwards;
}
.wrapper span:nth-child(4) {
    clip-path: polygon(90% 0, 110% 0, 110% 100%, 40% 100%);
    animation: crack2 0.2s linear forwards;
}

.wrapper span:nth-child(5) {
    clip-path: polygon(60% 0, 90% 0, 40% 100%, 20% 100%);
}

.wrapper span:nth-child(6) {
    clip-path: polygon(-10% 0, 60% 0, 20% 100%, -10% 100%);
    animation: crack1 0.2s linear forwards;

}

@keyframes crack1 {
    0% {transform: translate(0 ,0)}
    100% {transform: translate(-5%, 3%) rotateZ(1deg) ;}
}
@keyframes crack2 {
    0% {transform:translate(0,0)}
    100% {    transform: translate(5%, -3%) rotateZ(1deg) ;}

}

@keyframes animation-gradient-start {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 200% 50%;
    }
}

#startscreen {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212529;
    z-index: 9999;
}
.invisible {
    display: none;
}
.visible {
    display: block;
}
body {
    margin: 0;
    color: white;
    background: repeating-linear-gradient(
            135deg,
            #134E5E 0%,
            #71B280 50%,
            #134E5E 100%
    );
    background-size: 300% 300%;
    animation: animation-gradient-start 10s linear infinite;
}

.hero-section {
    min-height: 100vh;
    background: linear-gradient(
            135deg,
            #111111,
            #134E5E,
            #71B280
    );
}

.skill-box {
    background: #1e1e1e;
    padding: 40px;
    border-radius: 15px;
    transition: .3s;
}

.skill-box:hover {
    transform: translateY(-10px);
}

.project-card {
    transition: .3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.card {
    background: #1e1e1e;
    color: white;
}

html {
    scroll-behavior: smooth;
}